.create{
  flex: 1;
  text-align: left;
  margin:0 80px;
  padding: 20px 0 80px;
}
.create .ctit h2{
  text-align: center;
  font-weight: normal;
}
.create .list{
  padding-top: 30px;
}
.create .list li{
  margin-bottom: 20px;
}
.create .list li .tit{

}
.create .list li .tit h2{
  font-size: 16px;
  font-weight: normal;
}
.create .list li .txt{
  margin-top: 5px;
}
.create .list li .txt input{
  height: 30px;
  border: 1px solid green;
  border-radius:3px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5px;
  font-size: 14px;
  color: #323232;
}
.create .list li .txt textarea{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid green;
  border-radius:3px;
  padding: 5px;
  font-size: 14px;
  color: #323232;
}
.create .list li .txt2 textarea{
  height: 70px;
}
.create .list li .txt3 textarea{
  height: 220px;
  resize: none;
}
.create .list li .hint{
  text-align: right;
}
.create .list li .hint span{
  font-size: 12px;
  color: rgb(153,153,153);
}
.showIndex h4{
  font-weight: normal;
  font-size: 14px;
  color: #323232;
}
.create .btn{
  margin-top: 30px;
}
.create button{
  font-size: 16px;
  background-color: green;
  color: #fff;
  border: none;
  display: inline-block;
  padding: 0 8px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
}
